*{
    margin: 0;
    padding: 0;
}
header{
    height: 100vh;
    .navbar{
        .name.allura-regular{
            margin: 0;
            font-weight: bold;
            font-size: 35px;
        }
        .role{
            margin-top: -10px;
            font-size: 14px;
        }
    }
    .aboutme{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
        .social-media{
            font-size: 20px;
            a{color: black;}
        }
        .img-fluid{
            width: 50%;
        }
    }
}

section{
    padding: 50px 0;
    .title{
        margin-bottom: 30px;
    }
    .owl-carousel{
        .owl-nav{
            display: none;
        }
        .card{
            .card-body{
                h6,p{
                    margin: 0;
                    font-size: 14px;
                }
                h6{
                    padding-bottom: 10px;
                    font-weight: 600;
                }
                .role-date{
                    width: 550px;
                }
            }
        }
    }
    
}

section#pendidikan{
    padding: 0;
    margin: 0;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../img/bg.jpg);
    background-position: center;
    background-attachment: fixed;
    color: white;
    .bg::after{
        background: #000 url(../img/pattarn.png) repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.3;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .container{
        position: relative;
        z-index: 2;
    }
    .education{
        .role-date,
        .school-desc{
            h6{
                font-size: 16px;
            }
            p{
                font-size: 13px;
            }
        }
    }
    .organization{
        .card{
            color: white;
            background: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1));
            .role-desc,
            .periode-date{
                h6{
                    font-size: 14px;
                }
                p{
                    font-size: 10px;
                }
            }
        }
        
    }
    
}
section#pendidikan::before{
    background: rgba(0, 0, 0, 0) url(../img/pattarn-segitiga.png) repeat scroll 0 0;
    content: "";
    height: 7px;
    left: 0;
    position: absolute;
    // top: -7px;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    width: 100%;
    z-index: 1;
}
section#pendidikan::after{
    background: rgba(0, 0, 0, 0) url(../img/pattarn-segitiga.png) repeat scroll 0 0;
    content: "";
    height: 7px;
    left: 0;
    position: absolute;
    bottom: 0;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    width: 100%;
    z-index: 1;
}

// Responsive
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    header{
        .aboutme{
            .about{
                .social-media{
                    font-size: 14px;
                }
                h6{
                    font-size: 12px;
                }
            }
        }
    }
}