@import url('https://fonts.googleapis.com/css2?family=Allura&family=Sacramento&display=swap');

.allura-regular {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
}